<section class="about" id="about">
  <div class="container">
    <h2>ABOUT US</h2>
    <div class="info">
      <p class="title">SKILLS</p>
      <div class="boxes">
        <% for(var index = 0; index < skills.length ; index++) { %>
        <div class="box">
          <img src="images/<%= skills[index].image%>" alt="" />
          <p><%= skills[index].name%></p>
        </div>
        <%}%>
      </div>
    </div>
    <div class="info">
      <p class="title">EXPERIENCE</p>
      <div class="boxes">
        <% for(var index = 0; index < experiance.length ; index++) { %>
        <div class="box">
          <img src="images/<%= experiance[index].image%>" alt="" />
          <p><%= experiance[index].name%></p>
        </div>
        <%}%>
      </div>
    </div>
  </div>
</section>
