<section class="about" id="about">
  <div class="container">
    <h2>ABOUT US</h2>
    <div class="info">
      <p class="title">SKILLS</p>
      <div class="boxes">
        <div class="box">
          <img src="images/skills-1.png" alt="" />
          <p>UX/UI Design</p>
        </div>
        <div class="box">
          <img src="images/skills-2.jpg" alt="" />
          <p>Problem Solving Skills</p>
        </div>
        <div class="box">
          <img src="images/skills-3.jpg" alt="" />
          <p>Many Porogram Langauges</p>
        </div>
      </div>
    </div>
    <div class="info">
      <p class="title">EXPERIENCE</p>
      <div class="boxes">
        <div class="box">
          <img src="images/exp-3.jpg" alt="" />
          <p>Design Websits In ACademy</p>
        </div>
        <div class="box">
          <img src="images/exp-2.jpg" alt="" />
          <p>Woking In A.C Company</p>
        </div>
        <div class="box">
          <img src="images/exp-1.jpg" alt="" />
          <p>Working As FreeLancer</p>
        </div>
      </div>
    </div>
  </div>
</section>
