<footer>
  <p>We Are Social</p>
  <div class="social-icons">
    <a href="https://www.facebook.com/donia.shaker.338/">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://mail.google.com/mail/u/0/#inbox"
      ><i class="fas fa-envelope"></i
    ></a>
    <a href="https://github.com/donia-shaker"><i class="fab fa-github"></i></a>
  </div>
</footer>
