<!-- Start Nav -->
<nav>
  <div class="container">
    <div class="logo">
      Portoflio
      <input type="checkbox" name="switch" id="switch" onclick="changeMode()" />

      <label for="switch"></label>
    </div>
    <div class="links">
      <i class="fas fa-bars toggle-menu"></i>
      <ul>
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="#about">ABOUT US</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#contact-us">CONTACT US</a></li>
        <li><a href="/authentication">Dashboard</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End nav  -->
