<section class="touch-with-us" id="contact-us">
  <div class="container">
    <h3>Contact Us</h3>
    <div class="content">
      <div class="contact">
        <div class="text">
          <h4>Contact Adress</h4>
          <div class="one">
            <i class="fas fa-map-marker-alt"></i>
            <p>Yemen, Sanaa, Haddah Street</p>
          </div>
          <div class="one">
            <i class="fas fa-map-marker-alt"></i>
            <p>Yemen, Sanaa, Haddah Street</p>
          </div>
        </div>
        <div class="text">
          <h4>Hotline</h4>
          <div class="one">
            <i class="fas fa-phone-alt"></i>
            <p>774444754</p>
          </div>
          <div class="one">
            <i class="fas fa-mobile-alt"></i>
            <p>774444754</p>
          </div>
        </div>
        <div class="text">
          <h4>Email</h4>
          <div class="one">
            <i class="fas fa-envelope"></i>
            <p>donia.shaker11@gmail.com</p>
          </div>
        </div>
      </div>
      <!-- Form -->
      <div class="form">
        <form id="contact-form">
          <!-- line 1 in form -->
          <div class="line">
            <input type="text" name="name" id="name" placeholder="Your Name" />
            <span id="error-name"></span>
            <input type="text" name="phone" id="phone" placeholder="Phone" />
            <span id="error-phone"></span>
          </div>
          <!-- line 2 in form -->
          <div class="line">
            <input type="email" name="email" id="email" placeholder="Mail" />
            <span id="error-email"></span>
            <input type="url" name="website" id="url" placeholder="Website" />
            <span id="error-url"></span>
          </div>
          <!-- line 3 in form -->
          <textarea
            name="message"
            id="message"
            placeholder="Message"
          ></textarea>
          <span id="error-message"></span>
          <input type="submit" id="submit" />
        </form>
      </div>
    </div>
  </div>
</section>
